<nav>
  <div class="logo-name">
    <div class="logo-image">
      <img src="/1.png" alt="" />
    </div>

    <span class="logo_name">JOBBER</span>
  </div>

  <div class="menu-items">
    <ul class="nav-links">
      <li>
        <a href="/v1/dashboard">
          <i class="uil uil-estate"></i>
          <span class="link-name">Dasboard</span>
        </a>
      </li>
      <% if(user.role === "employeer") { %>
      <li>
        <a href="/v1/jobs">
          <i class="uil uil-files-landscapes"></i>
          <span class="link-name">Post Jobs</span>
        </a>
      </li>
      <%}%>
      <li>
        <a href="/v1/jobs/application">
          <i class="uil uil-chart"></i>
          <span class="link-name">Applications</span>
        </a>
      </li>
    </ul>

    <ul class="logout-mode">
      <li>
        <a href="/logout">
          <i class="uil uil-signout"></i>
          <%if(locals.user){%>
          <span class="link-name">Logout <%=user.username%></span><%}%>
        </a>
      </li>

      <li class="mode">
        <a href="#">
          <i class="uil uil-moon link-name"></i>
          <span class="link-name">Dark Mode</span>
        </a>

        <div class="mode-toggle">
          <span class="switch"></span>
        </div>
      </li>
    </ul>
  </div>
</nav>
